[Unit]
Description=Keep track of media player activity
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/playerctld
Restart=on-failure

[Install]
WantedBy=default.target
