
//@theme "/home/bandeng/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/solarized.rasi"

//@theme "/home/bandeng/.local/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/bandeng/.local/share/rofi/themes/nord.rasi"

//@theme "/home/bandeng/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/bandeng/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/usr/share/rofi/themes/solarized.rasi"

@theme "/home/bandeng/.local/share/rofi/themes/spotlight-dark.rasi"
