* {
    transition: none;
    font-family: Inter;
    font-size: 14.5px;
    color: #ffffff;
}

#waybar {
    padding: 20px;
    background: rgba(0, 0, 0, 0);
}

#workspaces {
    margin: 0 3px;
    color: transparent;
}

#workspaces button {
    margin: 3px 4px;
    padding: 0 4px;
    transition: all 0.2s
}

#workspaces button.visible {
    background-color: rgba(120, 120, 120, 0.4);
}

#workspaces button.focused {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

#workspaces button.urgent {
    border-radius: 10px;
}

#workspaces button.urgent * {
    color: rgba(246, 71, 71, 0.8);
}

#tray {
    margin: 2px 2px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
}

#tray * {
    padding: 4px 10px;
    transition: all 0.2s;
}

#tray *:hover {
    background-color: rgba(80, 80, 80, 0.4);
}

#tray *:first-child {
    border-radius: 12px 0 0 12px;
}

#tray *:last-child {
    border-radius: 0 12px 12px 0;
}

#mode,
#battery,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#mpd,
#clock,
#temperature {
    margin: 4px 4px;
    padding: 0 2px;
    border-radius: 20px;
    min-width: 10px;
}

#clock {
    margin: 4px;
    padding: 4px 12px;
    background-color: rgba(0, 0, 0, 0.4);
    /* color: rgb(255, 216, 110); */
}

#battery, #network {
    /* color: rgb(66, 245, 173); */
}

#backlight, #idle_inhibitor, #pulseaudio {
    /* color: rgb(66, 233, 245); */
}

#cpu {
    /* color: rgb(245, 66, 114); */
}

#disk, #memory {
    /* color: rgb(245, 66, 206) */
}

#mpd * {
    min-width: 10px;
    font-size: 11px;
    font-family: JetBrainsMono;
}

#custom-power {
    margin: 4px 5px 4px 1px;
    padding: 0 10px 0 5px;
    background-color: rgba(0, 0, 0, 255);
    border-radius: 10px;
    min-width: 15px;
    transition: all 0.2s;
}

#custom-power:hover {
    background-color: rgba(80, 80, 80, 0.4);
}

#custom-playerctl {
    padding: 4px 12px;
    margin: 4px 2px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
}

#custom-playerctl:hover {
    background-color: rgba(80, 80, 80, 0.4);
}

#custom-recorder,
#custom-audiorec {
    margin: 4px 2px;
    padding: 0 6px;
    background-color: rgba(175, 65, 84, 0.8);
}

#custom-launcher {
    margin: 4px 1px 4px 5px;
    padding: 0 10px 0 2px;
    background-color: rgba(0, 0, 0, 255);
    border-radius: 10px;
    min-width: 15px;
    transition: all 0.2s;
}

#custom-launcher:hover {
    background-color: rgba(80, 80, 80, 0.4);
}

#temperature.critical {
    color: #800020;
}
