binds {
    Alt+space hotkey-overlay-title="Default Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+D hotkey-overlay-title="Default Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+I { focus-workspace-down; }
    Mod+U hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    Mod+Shift+S { screenshot; }
    Mod+Alt+P allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Mod+E hotkey-overlay-title="Open File Manager (nautilus)" { spawn "nautilus"; }
}
